*{
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
main{
  margin: 100px auto;
  height: auto;
  width: fit-content;
  padding: 50px;
  background: #0B2434;
}
div.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 400px;
  width: 400px;
  background: #F5F5F5;
  padding: 50px;
  border-radius: 10px;
  line-height: 20px;
} 
div.dice{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 25px;
}
button{
  height: 35.84000015258789px;
  width: 35.84000015258789px;
  border-radius: 3.8127658367156982px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}
.roll-btn{
  margin: 30px auto;
  min-height: 40px;
  width: 90px;
  background-color: #5035FF;
  color: white;
}